<nav class="navbar navbar-expand-lg fixed-top" id="up">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Ingresa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/decision">Registrate</a>
            </li>
        </ul>

    </div>
</nav>

<section class="wrapper fixed-top">
    <div class="overlays"></div>
    <!--Mascara de imagen-->
    <div class="container h-100">
        <div class="row h-100 justify-content-between align-items-center">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="mt-5">Buscas tu Proyecto y aslo Realidad</h1>
                    <p>APLICA TUS CONOCIMIENTOS Y OBTEN BENEFICIOS POR ELLO, consige proyectos y aprovecha tu tiempo al máximo .
                    </p>
                    <button class="btn btn-success btn-outline  mt-5">Publica un Proyecto</button>
                    <br>
                    <button class="btn btn-outline-primary  mt-5">Se un Proveedor de Servicio </button>

                </div>


            </div>
        </div>
    </div>
</section>

<section class="cuerpo mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius magni, esse quod dolores veritatis facilis cum ratione aliquam fugit iure laudantium eaque atque eum cupiditate, labore necessitatibus repudiandae a molestiae.


            </div>

        </div>

    </div>
</section>


<!-- <h2>STYLE 1</h2> -->

<!-- PRICING TABLE STYLE 1-->
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
            <div class="price_table_container">
                <!-- <div class="price_table_heading">Starter</div> -->
                <img src="./assets/img/IconoXTesis4.jpg" class="center-block img-circle pointer" width="200" height="200">
                <!-- <div class="price_table_body">
                    <div class="price_table_row cost warning-bg"><strong>$ 19</strong><span>/MONTH</span></div>
                    <div class="price_table_row">1 Website</div>
                    <div class="price_table_row">10 GB Storage</div>
                    <div class="price_table_row">10 GB Bandwidth</div>
                    <div class="price_table_row">10 Email Addresses</div>
                    <div class="price_table_row">Free Backup</div>
                    <div class="price_table_row">Full Time Support</div>
                </div> -->
                <a href="#" class="btn btn-warning btn-lg btn-block">Sign Up</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
            <div class="price_table_container">
                <!-- <div class="price_table_heading">Basic</div> -->

                <img src="./assets/img/IconoXTesis3.jpg" class="center-block img-circle pointer" width="200" height="200">
                <!-- <div class="price_table_body">
                    <div class="price_table_row cost primary-bg"><strong>$ 29</strong><span>/MONTH</span></div>
                    <div class="price_table_row">10 Websites</div>
                    <div class="price_table_row">100 GB Storage</div>
                    <div class="price_table_row">100 GB Bandwidth</div>
                    <div class="price_table_row">50 Email Addresses</div>
                    <div class="price_table_row">Free Backup</div>
                    <div class="price_table_row">Full Time Support</div>
                </div> -->
                <a class="btn btn-primary btn-lg btn-block">Ingresa</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
            <div class="price_table_container">
                <!-- <div class="price_table_heading">Premium</div> -->
                <img src="./assets/img/IconoXTesis5.jpg" class="center-block img-circle pointer" width="200" height="200">
                <!-- <div class="price_table_body">
                    <div class="price_table_row cost success-bg"><strong>$ 39</strong><span>/MONTH</span></div>
                    <div class="price_table_row">100 Websites</div>
                    <div class="price_table_row">1 TB Storage</div>
                    <div class="price_table_row">1 TB Bandwidth</div>
                    <div class="price_table_row">100 Email Addresses</div>
                    <div class="price_table_row">Free Backup</div>
                    <div class="price_table_row">Full Time Support</div>
                </div> -->
                <a href="#" class="btn btn-success btn-lg btn-block">Sign Up</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
            <div class="price_table_container">
                <!-- <div class="price_table_heading">Master</div> -->
                <img src="./assets/img/IconoXTesis6.jpg" class="center-block img-circle pointer" width="200" height="200">
                <!-- <div class="price_table_body">
                    <div class="price_table_row cost info-bg"><strong>$ 60</strong><span>/MONTH</span></div>
                    <div class="price_table_row">Unlimited Websites</div>
                    <div class="price_table_row">10 TB Storage</div>
                    <div class="price_table_row">100 TB Bandwidth</div>
                    <div class="price_table_row">1000 Email Addresses</div>
                    <div class="price_table_row">Free Backup</div>
                    <div class="price_table_row">Full Time Support</div>
                </div> -->
                <a href="#" class="btn btn-info btn-lg btn-block">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<!-- PRICING TABLE STYLE 1-->


<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                    <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
                </ul>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div> -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>


<script>
    $(window).scroll(function() {
        if ($(this).scrollTop() > 50) {

            $('.navbar').css('background', '#263238');

        } else {
            $('.navbar').css('background', 'transparent');
        }
    });
</script>