<style>
    .menu {
        background-color: rgb(102, 119, 119);
        color: white;
        padding: 0px;
        position: 20px;
    }
</style>


<header class="topbar">

    <div class="row-3" id="login">
        <div>
            <label *ngIf="role == 'USER'"> | <a routerLink="/perfil"> <i class="fa fa-cog" aria-hidden="true"></i> Perfil</a>  </label>
            <label *ngIf="role == 'PROV'"> | <a routerLink="/perfilpro"> <i class="fa fa-cog" aria-hidden="true"></i> Perfil</a>  </label>
            <label> | <a (click)="usuarioService.logout()"> <i class="fa fa-power-off" aria-hidden="true"></i> Cerrar Cesion </a> | </label>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <a class="navbar-brand" routerLink="/dasboard">ServiTodo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre Nosotros</a>
                </li>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true">
                      Dropdown link
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>

            </ul>
            <form (ngSubmit)="onkeypress(input.value)" class="form-inline my-2 my-lg-0">
                <input #input (keyup.enter)="onkeypress(input.value)" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            </form>
        </div>
    </nav>

</header>


<!--===================
        Header
        =======================-->