<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css" />
<div class="container text-center">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="service-heading-block">
                <h2 class="text-center text-primary title">ServitoDodo</h2>
                <!-- <p class="text-center sub-title">Lorem ipsum dolor sit amet,<span class="text-primary">consectetur adipisicing</span> elit.<br/> Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p> -->
            </div>
        </div>
        <hr>
        <div class="col-lg-6 col-md-5 col-sm-5">
            <div class="text-center feature-block">
                <span class="fb-icon color-info">
                  <i class="fa fa-desktop" aria-hidden="true"></i>
                </span>
                <h4 class="color-info">Registrate</h4>
                <p class="">Quieres Contratar un Servicio?.</p>
                <a routerLink="/register/USER" class="btn btn-info btn-custom">Click aqui</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-5 col-sm-5">
            <div class="text-center feature-block">
                <span class="fb-icon color-warning">
                  <i class="fa fa-desktop" aria-hidden="true"></i>
                </span>
                <h4 class="color-warning">Registrate</h4>
                <p class="">Queres ser Proveedor de Servicios?.</p>
                <a routerLink="/register/PROV" class="btn btn-warning btn-custom">Click aqui</a>
            </div>
        </div>

        <!-- <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="text-center feature-block">
                <span class="fb-icon color-success">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
                <h4 class="color-success">Email Service</h4>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                <a href="javascript:void(0)" class="btn btn-success btn-custom">Click here</a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="text-center feature-block">
                <span class="fb-icon color-danger">
                  <i class="fa fa-fire" aria-hidden="true"></i>
                </span>
                <h4 class="color-danger">Quality Service</h4>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                <a href="javascript:void(0)" class="btn btn-danger btn-custom">Click here</a>
            </div>
        </div> -->
    </div>

</div>