<div class="container">

    <div class="row">
        <div class="col-sm-12 mx-auto" style="width:100%; height:auto;">

            <!-- <div class="col-12" id="buscar">
                            <label for="inicia">Buscar:  </label>
                            <input name="inicia" type="text" class="form-control" id="inicia" placeholder="Encuentralo..">
                            <button type="button" class="btn btn-primary" id="btn">Buscar</button>
                        </div> -->
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Encontraras todo tipo de Servicios </label>
                <br>
                <label>Buscar: </label>
                <input (keydow.enter)="onKeypress($event)" id="buscar" type="text" placeholder="Buscar" required="required">
                <p class="help-block text-danger"></p>
            </div>
        </div>
    </div>
</div>