<div class="container d-flex align-items-center flex-column">
    <div class="dashboard">

        <div class="col-md-10 col-md-offset-1 ">
            <ul class="dashboard-tabs ">
                <li class="active ">
                    <a routerLink="/perfil" class="btn " aria-controls="profile " role="tab " data-toggle="tab ">
                        <span class="glyphicon glyphicon-user "></span>
                        <h4>Profile</h4>
                    </a>
                </li>
                <li>
                    <a href="#statistics " class="btn " aria-controls="statistics " role="tab " data-toggle="tab ">
                        <span class="glyphicon glyphicon-time "></span>
                        <h4>Statistics</h4>
                    </a>
                </li>
                <li>
                    <a href="#donate " class="btn " aria-controls="donate " role="tab " data-toggle="tab ">
                        <span class="glyphicon glyphicon-usd "></span>
                        <h4>Donate</h4>
                    </a>
                </li>
                <li>
                    <a href="#settings " class="btn " aria-controls="settings " role="tab " data-toggle="tab ">
                        <span class="glyphicon glyphicon-cog "></span>
                        <h4>Settings</h4>
                    </a>
                </li>
                <li>
                    <a href="#help " class="btn " aria-controls="help " role="tab " data-toggle="tab ">
                        <span class="glyphicon glyphicon-question-sign "></span>
                        <h4>Help</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>